<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for message in app.flashes("error") %}
        {{ message }}
    {% endfor %}
    <br>
    <h2>Votre nombre favoris est {{ number }}</h2>
</body>
</html>
